<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNgMavenExampleSuite" parallel="false">
	<test name="TestNgMavenTest">
		<classes>
			<class name="com.javacodegeeks.testng.maven.testngMaven.TestNgMavenExampleTest" />
			<class name="com.javacodegeeks.testng.maven.testngMaven.TestNgMavenSecond" />
		</classes>
	</test>
</suite>

